* {
  box-sizing: border-box;
  font-family: "Gotham",Arial,sans-serif;
  /* overflow: hidden; */
}
.App {
  text-align: center;
  min-height: 100vh;
  overflow: auto;
}


.subscriptionOptions {
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.columns {
  flex: 1;

  /* opacity: 0.2; */
  color:  #07849D;
  padding: 1rem;
}


.navbar {
  /* background-color: #EFEBE0; */
  padding: 1rem;
  display: flex;
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.save-feature {

  padding: 4rem;


}

#save-button {
  background-color: lightseagreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}
