* {
  box-sizing: border-box;
  font-family: "Gotham",Arial,sans-serif;
  /* overflow: hidden; */
}
.App {
  text-align: center;
  min-height: 100vh;
  overflow: auto;
}

.navbar {
  /* background-color: #EFEBE0; */
  background-color: #cae8ea;
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid lightgray;
}


.subscription-product-body {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: space-between;
}

.subscription-options {
  /* background-color: #cae8ea; */
  height: 55rem;
  padding-top: 2.5rem;
/*
  display: flex; */
  /* justify-content: space-between; */
  /* display: block; */
  /* text-align: left; */
  /* padding: 0 100rem 0 8rem; */
}


#save-button {
  background-color: #E87425;
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  margin: 6rem;
}


.step-one-two {
  display: flex;
  /* justify-content: space-between; */
  /* display: inline-block; */

  padding-top: 2rem;
  text-align: left;
  padding-left: 2rem;



}

.step-one-two h4 {
  color:  #07849D;
  font-size: 2rem;
  padding-left: 20px;
}

.number-circle {
  background-color: #A4D65E;
  /* border-radius 50% makes it a circle */
  border-radius: 50%;
  /* all in a line together with inline-block */
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-top: 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  /* position: absolute; */
  /* left: 40px; */
  /* prevents squished look */
  flex: none;
}

#select-subscription-box-container {
  width: 30vw;
}

@media only screen and (max-width: 1200px) {
  #select-subscription-box-container {
    width: 100vw;
  }
}
#choose-meals-container {
  border-left: 1px solid lightgray;
  width: 70vw;
  display: inline-block;
  padding-right: 1.5rem;
  /* background-color: #7e4966; */
}
