* {
  box-sizing: border-box;
  /* overflow: hidden; */
}
.App {
  text-align: center;
  min-height: 100vh;
  background-color: #c9e3ac;
  overflow: auto;
}


.subscriptionOptions {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  font-size: calc(10px + 2vmin);
  color: white;
}

div.columns {
  flex: 1;
  background-color: white;
  opacity: 0.2;
  color: forestgreen;
  padding: 1rem;
  height: 50rem;
}

section.products {
  background-color: darkgreen;
  flex: 1;
  padding: 1rem;
  height: 50rem;
}

.navbar {
  flex: 1;
  background-color: forestgreen;
  padding: 0.5rem;
}
