
.Product {
  padding: 1.3rem;
  width: 500px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  margin: 1rem;
}

.Product.inactive {
  padding: 1.3rem;
  width: 500px;
  display: flex;
  margin: 1rem;
  z-index: 4;
  background-color: lightgray;
  opacity: 0.5;
}

h2.product-title {
  color: #E87425;
  margin-bottom: 5px;
}

p.product-description {
  font-size: 1.2em;
  padding: 0 2rem;
  font-weight: lighter;
}

.edit-product {
  display: flex;
  height: 60px;
  justify-content: center;
  /* this aligns elements to bottom */
  margin-top: auto;
}

.value-button {
  font-size: 2em;
  width: 50px;
  text-align: center;
  background: lightseagreen;
}

.value-button:hover {
  cursor: pointer;
}

p.product-specs {
  font-size: 1.1em;
  font-weight: lighter;
  word-spacing: 5px;
}

#number {
  text-align: center;
  margin: 0px;
  width: 50px;
  height: 60px;
  border: 1px solid lightseagreen;
}

#number h2 {
  margin: 8px 0 0 0;
}
#increase {
  margin-right: -4px;
  border-radius: 0 8px 8px 0;
}

#decrease {
  margin-left: -4px;
  border-radius: 8px 0 0 8px;
}

.value-button .tooltiptext {
  display: flex;
  visibility: hidden;
  background-color:  #07849D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 1.5rem;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;

}

.value-button:hover .tooltiptext {
  visibility: visible;
}
