h3 {
  margin: 10px;
}

.Product {
  padding: 1.2rem;
  background-color: white;
  width: 400px;
  height: 600px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;

}

.edit-product {
  display: flex;
  height: 60px;
  justify-content: center;
  /* this aligns elements to bottom */
  margin-top: auto;
}

.value-button {
  font-size: 2em;
  width: 50px;
  text-align: center;
  background: lightseagreen;
}

.value-button:hover {
  cursor: pointer;
}

p {
  font-size: 1.1em;
}
p.product-specs {
  font-weight: bold;
}

#number {
  text-align: center;
  margin: 0px;
  width: 50px;
  height: 60px;
  border: 1px solid lightseagreen;
}

#number h2 {
  margin: 8px 0 0 0;
}
#increase {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

#decrease {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

.value-button .tooltiptext {
  display: flex;
  visibility: hidden;
  background-color:  #07849D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 1.5rem;
  margin-top: 70px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.value-button:hover .tooltiptext {
  visibility: visible;
}
